@use "../partials/typography" as *;
@use "../partials/layout" as *;
@use "../partials/colours" as *;

.contact {
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }

  &__fieldset {
    height: 100%;
    margin: 0 1rem;
    border: 1.5px solid $black;
    border-radius: 0.75rem;

    @include tablet {
      border: none;
      margin: 1rem 2rem;
    }
  }
  
  &__legend {
    @include legend;
  }
  
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    @include tablet {
      margin: 2rem 0;
    }
  }
  
  &__link {
    margin: 0 1.25rem;
    
    @include tablet {
      margin: 0 2rem;
    }
  }
  
  &__icon {
    display: block;
    width: 3rem;
    transition: all 0.2s linear;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }

    @include tablet {
      width: 4rem;
    }
  }
}
