@use "../partials/typography" as *;
@use "../partials/colours" as *;
@use "../partials/layout" as *;

.hero {
  position: relative;
  height: 100dvh;
  width: 100%;
  text-align: center;
  // background-image: url("../../assets/images/behance-background.png");
  // // background-image: url("../../assets/images/behance-6462719521ad7.png");
  // background-size: cover;
  // background-position: center;
  padding: 1rem;

  @include tablet {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem;
  }

  &__bground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__nav {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Kimura", sans-serif;
    font-size: 1rem;

    @include tablet {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      max-width: 80rem;
      font-size: 1.5rem;
    }

    &-link {
      padding: 0.2rem 0.5rem;
      -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
      transform: skew(-20deg);
      background-color: $taupe;
      border: 2px solid $ivory;
      border-radius: 0.25rem;
      color: $ivory;
      margin: 0 0.5rem;
      text-decoration: none;
      -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
      -webkit-transition: 0.15s ease-in-out;
      -o-transition: 0.15s ease-in-out;
      transition: 0.15s ease-in-out;

      &:hover {
        color: $burnt-sienna;
      }
    }

    &-text {
      -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
      transform: skew(20deg);
    }
  }

  &__text {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: $ivory;

    @include tablet {
      margin: auto;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      padding: 17rem 0;
      max-width: 80rem;
    }
  }

  &__title {
    font-family: "Kimura", sans-serif;
    font-size: 3.75rem;

    @include tablet {
      font-size: 6rem;
    }
  }

  &__sub-title {
    font-family: "MADEINFINITY PERSONALUSE-Regular";
    font-size: 1rem;
    @include tablet {
      font-size: 2rem;
    }
  }

  &__blog {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    display: block;
    font-family: "Kimura", sans-serif;
    font-size: 1rem;
    width: fit-content;
    color: $ivory;
    -webkit-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    padding: 0.2rem 0.5rem;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: translate(-50%, -50%) skew(-20deg);
    white-space: nowrap;
    border-radius: 0.25rem;
    margin: 0 0.5rem;
    text-decoration: none;
    -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border: 2px solid transparent;

    &:hover {
      opacity: 1;
      background-color: $burnt-sienna;
      border: 2px solid $taupe;
    }
    @include tablet {
      opacity: 0.75;
      font-size: 1.5rem;
      bottom: 1rem;
      left: 2rem;
      transform: translate(0, 0%) skew(-20deg);
    }
  }
}
