@use "../partials/typography" as *;
@use "../partials/layout" as *;
@use "../partials/colours" as *;

.intro {
  padding-bottom: 1rem;
  @include tablet {
    padding: 2rem;
    max-width: 80rem;
    margin: auto;
  }
  @include desktop {
    padding: 2rem 0;
  }
}

.profile {
  height: 100%;
  margin: 1rem;
  border: 1.5px solid $black;
  border-radius: 0.75rem;

  @include tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    border-right: none;
    border-bottom: none;
    border-radius: 0.75rem 0 0 0;
    padding: 0;
  }

  &__legend {
    @include legend;
    @include tablet {
      margin: 0 0 0 auto;
    }
  }

  &__picture {
    display: block;
    margin: 0 auto 1.5rem;
    width: 100%;
    height: auto;
    aspect-ratio: 1 /1;
    max-width: 22.25rem;
    border-radius: 0.75rem;
    -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

    @include tablet {
      width: 45%;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      margin: 1rem 1rem 0 2rem;
    }
  }

  &__biography {
    @include tablet {
      width: 50%;
    }
  }

  &__bio-text {
    @include body-mobile;
    padding: 0 0.5rem 0.5rem;
    text-align: justify;
    hyphens: auto;

    @include tablet {
      @include body-td;
      margin: 1rem 0.5rem;
      text-align: left;
      hyphens: none;
    }
  }
}

// animation for icon hover
@keyframes changeContent {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.skills {
  height: 100%;
  margin: 1rem;
  border: 1.5px solid #010101;
  border-radius: 0.75rem;

  @include tablet {
    padding: 0;
    margin: 1rem auto;
    border-radius: 0;
    border-right: none;
    border-left: none;
  }

  &__legend {
    @include legend;
    @include tablet {
      margin: 0 0 0 auto;
    }
  }

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &__icon {
    width: 5rem;
    transition: all 0.125s linear;

    &:hover {
      scale: 1.125;
    }

    @include tablet {
      width: 7rem;
    }
  }
}
