@use "../partials/typography" as *;
@use "../partials/layout" as *;
@use "../partials/colours" as *;

.projects {
  background-color: $parakeet;
  padding: 1rem 0 2rem;
  width: 100%;

  @include tablet {
    padding: 2rem;
  }

  &__heading {
    @include legend;
    text-align: center;
    margin: auto;
  }
}

.project {
  height: 100%;
  margin: 1rem;
  border: 1.5px solid $black;
  border-radius: 0.75rem;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-radius: 0;
    padding: 2rem 0 2rem;
    max-width: 80rem;
    margin: auto;
  }

  &__legend {
    @include legend;
    font-size: 1.5rem;

    @include tablet {
      margin: 0 0 0 auto;
    }
  }

  &__mockup {
    background-image: url("../../assets/images/mockup-dark.svg");
    background-position: center;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      width: 60%;
      margin: 0;
      margin-left: 0.5rem;
    }
  }

  &__gif {
    margin: auto;
    width: 100%;
    transform: scale(0.8);
    height: auto;
    aspect-ratio: 16 / 9;
  }

  &__information {
    @include tablet {
      width: 40%;
    }
  }

  &__links {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
  }

  &__link {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.825rem;
    transition: all 0.125s linear;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }

    @include tablet {
      margin: 0 1rem 0.825rem;
    }

    &--url {
      background-color: $taupe;

      @include tablet {
        padding: 0.375;
      }

      padding: 0.5rem;
    }

    &--github {
      background-color: $ivory;
    }
  }

  &__url {
    width: 1.5rem;
    aspect-ratio: 1 / 1;

    @include tablet {
      width: 2rem;
    }
  }

  &__github {
    width: 2.5rem;
    aspect-ratio: 1 / 1;

    @include tablet {
      width: 3rem;
    }
  }

  &__description {
    @include body-mobile;
    padding: 0 0.5rem 0.5rem;
    text-align: justify;
    hyphens: auto;

    @include tablet {
      @include body-td;
      margin: 1rem 0.5rem;
      text-align: left;
      hyphens: none;
    }
  }

  &__techstack {
    @include body-mobile;
    margin: 0 0.25rem 0.25rem;
    background-color: $taupe;
    border-radius: 0.25rem;
    color: #f4f9e9;
    padding: 0.25rem 0.5rem;
    opacity: 0.85;

    @include tablet {
      font-size: 1.25rem;
    }

    &-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-heading {
      text-align: center;
      padding: 0.25rem 0 0.5rem;
      font-family: "MADEINFINITY PERSONALUSE-Regular";

      @include tablet {
        font-size: 1.25rem;
      }
    }
  }
}
