@mixin tablet {
  @media (min-width: $min-width-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $max-width-desktop) {
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  background-color: forestgreen;
}

h1 {
    font-family: "MADEINFINITY";
    font-size: 5rem;
}
h2 {
    font-family: "MADEINFINITY PERSONALUSE-Light";
    font-size: 5rem;
}
h3 {
    font-family: "MADEINFINITY PERSONALUSE-Medium";
    font-size: 5rem;
}
h4 {
    font-family: "MADEINFINITY PERSONALUSE-Regular";
    font-size: 5rem;
}
h5 {
    font-family: "MADEINFINITY PERSONALUSE-Thin";
    font-size: 5rem;
}

// mobile
$margin-mobile: 0 1rem;
$padding-mobile: 0 1rem;
$padding-headline-mobile: 1.5rem 0 1rem;

// desktop tablet
$min-width-tablet: 48rem;
$padding-dt: 0 2.25rem;
$padding-headline-dt: 2.25rem 0 1.5rem;
$max-width-desktop: 80rem;

