// fonts
@font-face {
    font-family: "MADEINFINITY PERSONALUSE-Bold";
    src: url("../assets/fonts/MADEINFINITY PERSONALUSE-Black.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "MADEINFINITY PERSONALUSE-Light";
    src: url("../assets/fonts/MADEINFINITY PERSONALUSE-Light.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "MADEINFINITY PERSONALUSE-Medium";
    src: url("../assets/fonts/MADEINFINITY PERSONALUSE-Medium.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "MADEINFINITY PERSONALUSE-Regular";
    src: url("../assets/fonts/MADEINFINITY PERSONALUSE-Regular.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "MADEINFINITY PERSONALUSE-Thin";
    src: url("../assets/fonts/MADEINFINITY PERSONALUSE-Thin.otf") format("opentype");
    font-style: thin;
    font-display: swap;
}

// mixins
@mixin legend{
    font-family: "MADEINFINITY PERSONALUSE-Medium";
    font-size: 2.25rem;
    margin: auto;
    padding: 0 2rem;
}