@use "./layout" as *;

// fonts
@font-face {
    font-family: "MADEINFINITY PERSONALUSE-Bold";
    src: url("../../assets/fonts/MADEINFINITY\ PERSONALUSE-Black.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "MADEINFINITY PERSONALUSE-Light";
    src: url("../../assets/fonts/MADEINFINITY PERSONALUSE-Light.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "MADEINFINITY PERSONALUSE-Medium";
    src: url("../../assets/fonts/MADEINFINITY PERSONALUSE-Medium.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "MADEINFINITY PERSONALUSE-Regular";
    src: url("../../assets/fonts/MADEINFINITY PERSONALUSE-Regular.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "MADEINFINITY PERSONALUSE-Thin";
    src: url("../../assets/fonts/MADEINFINITY PERSONALUSE-Thin.otf") format("opentype");
    font-style: thin;
    font-display: swap;
}
@font-face {
    font-family: "Kimura";
    src: url("../../assets/fonts/Kimura.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}

// mixins
@mixin legend{
    font-family: "MADEINFINITY PERSONALUSE-Medium", sans-serif;
    font-size: 2rem;
    margin: auto;
    padding: 0 2rem;
    color: #010101;

    @include tablet{
        font-size: 2.5rem;
        padding: 0 0 0 2rem
    };
    @content;
}

@mixin body-mobile{
    font-family: "MADEINFINITY PERSONALUSE-Light", sans-serif;
    font-size: 0.85rem;
    margin: auto;
    color: #151515;
}

@mixin body-td{
    font-family: "MADEINFINITY PERSONALUSE-Light", sans-serif;
    font-size: 1.25rem;
    margin: auto;
    color: #151515;
}