@use "./"

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  background-color: forestgreen;
}

h1 {
    font-family: "MADEINFINITY";
    font-size: 5rem;
}
h2 {
    font-family: "MADEINFINITY PERSONALUSE-Light";
    font-size: 5rem;
}
h3 {
    font-family: "MADEINFINITY PERSONALUSE-Medium";
    font-size: 5rem;
}
h4 {
    font-family: "MADEINFINITY PERSONALUSE-Regular";
    font-size: 5rem;
}
h5 {
    font-family: "MADEINFINITY PERSONALUSE-Thin";
    font-size: 5rem;
}