---
import Image from "astro/components/Image.astro";
import bgImage from "../assets/images/behance-background.png";
import "../styles/components/Hero.scss";
---

<section class="hero">
  <Image
    src={bgImage}
    alt="Green gradient background graphic"
    class="hero__bground"
    format="avif"
    widths={[400, 800, 1200, 1600]}
    sizes="100vw"
    loading="eager"
  />
  <nav class="hero__nav">
    <a href="#intro" class="hero__nav-link"
      ><p class="hero__nav-text">about</p></a
    >
    <a href="#project" class="hero__nav-link"
      ><p class="hero__nav-text">projects</p></a
    >
    <a href="#contact" class="hero__nav-link"
      ><p class="hero__nav-text">contact</p></a
    >
   
  </nav>
  <div class="hero__text">
    <h1 class="hero__title">ANDREW JOSEPHS</h1>
    <h2 class="hero__sub-title">FULL STACK DEVELOPER | MIAMI, FL</h2>
  </div>
  <a href="/blog" class="hero__blog"
   ><p class="hero__blog--text">DEVING OUT LOUD</p></a
 >
</section>
