---
import "../styles/components/Hero.scss";
---

<section class="hero">
  <nav class="hero__nav">
    <a href="#intro" class="hero__nav-link"
      ><p class="hero__nav-text">about</p></a
    >
    <a href="#project" class="hero__nav-link"
      ><p class="hero__nav-text">projects</p></a
    >
    <a href="#contact" class="hero__nav-link"
      ><p class="hero__nav-text">contact</p></a
    >
  </nav>
  <div class="hero__text">
    <h1 class="hero__title">ANDREW JOSEPHS</h1>
    <h2 class="hero__sub-title">FULL STACK DEVELOPER | MIA, FL</h2>
  </div>
</section>
