---
import wehyuhdehgif from "../assets/images/wehyuhdehgif.gif";
import amexgif from "../assets/images/amexindustry.gif";
import got from "../assets/images/gotgenerator.jpg";
import "../styles/components/Projects.scss";
---

<section class="projects" id="project">
  <h1 class="projects__heading">PROJECTS</h1>
  <fieldset class="project project--wehyuhdeh">
    <legend class="project__legend">WEH YUH DEH</legend>
    <div class="project__mockup">
      <img src={wehyuhdehgif} alt="application demo" class="project__gif" />
    </div><div class="project__information">
      <p class="project__description">
        An app created to assist the Jamaican diaspora to find resources,
        events and Jamaican-approved services abroad.
      </p>
      <p class="project__techstack-heading">TECH STACK</p>
      <div class="project__techstack-container">
        <span class="project__techstack">React</span>
        <span class="project__techstack">SASS</span>
        <span class="project__techstack">Node</span>
        <span class="project__techstack">MySQL</span>
        <span class="project__techstack">Express</span>
        <span class="project__techstack">Google Maps/Places API</span>
      </div>
    </div>
  </fieldset>

  <fieldset class="project project--amex">
    <legend class="project__legend">AMEX CHATBOT</legend>
    <div class="project__mockup">
      <img src={amexgif} alt="application demo" class="project__gif" />
    </div>
    <div class="project__information">
      <p class="project__description">
        During a 24-hour hackathon for an industry event, I was tasked with
        creating a solution for American Express' client support model. This
        app mocks an AI assisted chat bot to resolve client
        issues.
      </p>
      <p class="project__techstack-heading">TECH STACK</p>
      <div class="project__techstack-container">
        <span class="project__techstack">JavaScript</span>
        <span class="project__techstack">React</span>
        <span class="project__techstack">SASS</span>
        <span class="project__techstack">Object Oriented Programming</span>
      </div>
    </div>
  </fieldset>

  <fieldset class="project project--wehyuhdeh">
    <legend class="project__legend">GOT Quote Generator</legend>
    <div class="project__mockup">
      <img src={got} alt="application demo" class="project__gif" />
    </div>
    <div class="project__information">
      <p class="project__description">
        An app created to generate random quotes using a Game of Thrones quotes API,
        built with React.
      </p>
      <p class="project__techstack-heading">TECH STACK</p>
      <div class="project__techstack-container">
        <span class="project__techstack">React</span>
        <span class="project__techstack">JavaScript</span>
        <span class="project__techstack">CSS</span>
        <span class="project__techstack">Data Fetching</span>
      </div>
    </div>
  </fieldset>
</section>
