@use "../global.scss" as *;

body {
    background-color: #1AA36D ;
}

h1 {
  font-family: "MADEINFINITY PERSONALUSE-Bold";
  font-size: 2.5rem;
}
h2 {
  font-family: "MADEINFINITY PERSONALUSE-Light";
  font-size: 1.5rem;
}
h3 {
  font-family: "MADEINFINITY PERSONALUSE-Medium";
  font-size: 1.5rem;
}
h4 {
  font-family: "MADEINFINITY PERSONALUSE-Regular";
  font-size: 1.5rem;
}
h5 {
  font-family: "MADEINFINITY PERSONALUSE-Thin";
  font-size: 1.5rem;
}
