@use "../partials/typography" as*;
@use "../partials/layout" as *;

.fieldset {

  &__profile {
    margin: 1rem;
    border: 2px solid grey;
    border-bottom: none;
    border-radius: 0.25rem 0.25rem 0 0;
    
    @include tablet{

    }
}

  &__legend{
    @include legend
  }
}
