@use "../partials/typography" as *;
@use "../partials/layout" as *;
@use "../partials/colours" as *;


.intro{
  padding-bottom: 1rem;
  @include tablet{
    padding: 2rem 0 2rem;
    max-width: 80rem;
    margin: auto
  }
}

.profile {
  height: 100%;
  margin: 1rem;
  border: 1.5px solid $black;
  border-radius: 0.75rem;

  @include tablet {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
    border-right: none;
    border-bottom: none;
    border-radius: 0.75rem 0 0 0;
  }

  &__legend {
    @include legend;
    @include tablet {
      margin: 0 0 0 auto;
    }
  }

  &__picture {
    display: block;
    margin: 0 auto 1.5rem ;
    width: 100%;
    max-width: 22.25rem;
    border-radius: 0.75rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

    @include tablet {
      width: 45%;
      height: fit-content;
      margin: 0;
      margin-left: 0.5rem;
    }
  }

  &__biography {
    @include tablet {
      text-align: right;
      width: 50%;
    }
  }

  &__bio-text {
    @include body-mobile;
    margin: 0 auto 0.5rem;

    @include tablet {
      @include body-td;
      margin: 1rem 0.5rem;
    }
  }
}

// animation for icon hover
@keyframes changeContent {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.skills {
  height: 100%;
  margin: 1rem;
  border: 1.5px solid #010101;;
  border-radius: 0.75rem;

  @include tablet {
    margin: 1rem 2rem;
    border-radius: 0;
    border-right: none;
    border-left: none;
  }

  &__legend {
    @include legend;
    @include tablet {
      margin: 0 0 0 auto;
    }
  }

  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__icon {
    width: 5rem;
    transition: all 0.25s linear;
    
    &:hover{
      cursor: pointer;
    }

    @include tablet{
      width: 7rem;
    }

    &--html5 {
      &:hover {
        content: url("../../assets/icons/light/html5.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }

    &--css {
      &:hover {
        content: url("../../assets/icons/light/css3.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }

    &--js {
      &:hover {
        content: url("../../assets/icons/light/js.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }

    &--nodejs {
      &:hover {
        content: url("../../assets/icons/light/nodejs.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }

    &--mysql {
      &:hover {
        content: url("../../assets/icons/light/mysql.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }
    
    &--reactjs {
      &:hover {
        content: url("../../assets/icons/light/reactjs.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }

    &--sass {
      &:hover {
        content: url("../../assets/icons/light/sass.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }

    &--astro {
      &:hover {
        content: url("../../assets/icons/light/astro.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }

    &--netlify {
      &:hover {
        content: url("../../assets/icons/light/netlify.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }

    &--vs {
      &:hover {
        content: url("../../assets/icons/light/vs.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }

    &--git {
      &:hover {
        content: url("../../assets/icons/light/git.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }

    &--postman {
      &:hover {
        content: url("../../assets/icons/light/postman.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }

    &--ps {
      &:hover {
        content: url("../../assets/icons/light/ps.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }

    &--jest {
      &:hover {
        content: url("../../assets/icons/light/jest.svg");
        animation: changeContent 0.25s linear forwards;
      }
    }
  }
}
