---
import ProfileLayout from "./ProfileLayout.astro";
import ProjectLayout from "./ProjectLayout.astro";
import ContactLayout from "./ContactLayout.astro";
import "../styles/layouts/BaseLayout.scss"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<ProfileLayout/>
		<ProjectLayout/>
		<ContactLayout/>
	</body>
</html>
<!-- have a fieldset layout for profile introduction -->
<!-- have a fieldset layout for each project containing image title description and technology used -->
<!-- have a layout for the contact page including an email form -->
<!-- have a welcome and goodbye page add this after -->