---
import "../styles/layouts/ContactLayout.scss"
---

<article class="contact">
    <fieldset class="contact__fieldset">
        <legend class="contact__legend">CONTACT ME</legend>
        <form action="" class="contact__form"></form>
      </fieldset>
</article>